

.lifeDead {
    background-color: white;
    width: 10px;
    height: 10px;
    border:1px solid black;
    display: inline-block;
}

.lifeAlive {
    background-color: black;
    width: 10px;
    height: 10px;
    border:1px solid black;
    display: inline-block;
}


